sharktank_models/clip/assets/text_model/toy/bf16_parameters.irpa filter=lfs diff=lfs merge=lfs -text
sharktank_models/clip/assets/text_model/toy/f32.mlir filter=lfs diff=lfs merge=lfs -text
sharktank_models/clip/assets/text_model/toy/f32_parameters.irpa filter=lfs diff=lfs merge=lfs -text
sharktank_models/clip/assets/text_model/toy/forward_bs4_arg0_input_ids.irpa filter=lfs diff=lfs merge=lfs -text
sharktank_models/clip/assets/text_model/toy/forward_bs4_expected_result0_last_hidden_state_f32.irpa filter=lfs diff=lfs merge=lfs -text
sharktank_models/clip/assets/text_model/toy/bf16.mlir filter=lfs diff=lfs merge=lfs -text
sharktank_models/punet/sharded_toy_resnet_block/assets/expected_results.irpa filter=lfs diff=lfs merge=lfs -text
sharktank_models/punet/sharded_toy_resnet_block/assets/input_args.irpa filter=lfs diff=lfs merge=lfs -text
sharktank_models/punet/sharded_toy_resnet_block/assets/model.irpa filter=lfs diff=lfs merge=lfs -text
sharktank_models/punet/sharded_toy_resnet_block/assets/model.mlir filter=lfs diff=lfs merge=lfs -text
sharktank_models/punet/sharded_toy_resnet_block/assets/model.rank0.irpa filter=lfs diff=lfs merge=lfs -text
sharktank_models/punet/sharded_toy_resnet_block/assets/model.rank1.irpa filter=lfs diff=lfs merge=lfs -text
