# Baseline requirements for running the test suite.
#   * See requirements-iree.txt for using IREE packages.
#   * See requirements-dev.txt for extra deps used to regenerate test cases.

azure-storage-blob
numpy
psutil
pyjson5
pytest
pytest-html
pytest-reportlog
pytest-timeout
pytest-xdist
tqdm
