# Baseline requirements for running the test suite.
#   * See requirements-iree.txt for using IREE packages.

azure-storage-blob
ml_dtypes
numpy
pytest
pytest-check
pytest-dependency
pytest-html
pytest-reportlog
pytest-retry
pytest-timeout
pytest-xdist
tabulate
