# Copyright 2024 The IREE Authors
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: Test ONNX Ops
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test_onnx_ops.yml"
      - "onnx_ops/**"
  pull_request:
    paths:
      - ".github/workflows/test_onnx_ops.yml"
      - "onnx_ops/**"
  workflow_dispatch:
  schedule:
    # Runs at 3:00 PM UTC, which is 8:00 AM PST
    - cron: "0 15 * * *"

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  test-onnx-ops:
    if: ${{ github.repository_owner == 'iree-org' || github.event_name != 'schedule' }}
    runs-on: ubuntu-24.04
    env:
      VENV_DIR: ${{ github.workspace }}/.venv
      CONFIG_FILE_PATH: onnx_ops/configs/onnx_ops_cpu_llvm_sync.json
      HTML_REPORT_PATH: onnx_ops/onnx_ops_test_report_cpu_llvm_sync.html
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # Install Python packages.
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.11"
      - name: Setup Python venv
        run: python3 -m venv ${VENV_DIR}
      - name: Install IREE nightly release Python packages
        run: |
          source ${VENV_DIR}/bin/activate
          python3 -m pip install -r onnx_ops/requirements-iree.txt

      # Run tests and output new config files as needed.
      - name: Run ONNX ops test suite
        continue-on-error: true
        run: |
          source ${VENV_DIR}/bin/activate
          pytest onnx_ops/ \
            -n auto \
            -rA \
            --timeout=30 \
            --durations=10 \
            --html=${HTML_REPORT_PATH} \
            --self-contained-html \
            --report-log=/tmp/onnx_ops_cpu_logs.json \
            --config-files=${CONFIG_FILE_PATH}
      - name: Upload HTML report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: onnx_ops_test_report_cpu_llvm_sync.html
          path: ${{ env.HTML_REPORT_PATH }}
      - name: Update config file with latest XFAIL lists
        run: |
          source ${VENV_DIR}/bin/activate
          python onnx_ops/update_config_xfails.py \
            --log-file=/tmp/onnx_ops_cpu_logs.json \
            --config-file=${CONFIG_FILE_PATH}
          cat ${CONFIG_FILE_PATH}
      - name: Upload new config file
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: onnx_ops_cpu_llvm_sync.json
          path: ${{ env.CONFIG_FILE_PATH }}
